body {
    font-family: 'Cantarell', sans-serif;
}

#pageNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#modeloTimeImg {
    text-align: center;
    align-content: center;
}

#introCopy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#circleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mainCircle {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin: 20px 0;
}